/**
 * Animate elements (alerts, mostly) by blinking them once before showing them.
 */
.blink-awake {
	.animation-name('blink-awake');
	.animation-duration(0.5s);
	.animation-timing-function('linear');
}

@-webkit-keyframes blink-awake {  
    0% { opacity: 0; }
    33% { opacity: 1.0; }
    66% { opacity: 0; }
    100% { opacity: 1.0; }
}

@keyframes blink-awake {  
    0% { opacity: 0; }
    33% { opacity: 1.0; }
    66% { opacity: 0; }
    100% { opacity: 1.0; }
}
