// override Bootstrap or FontAwesome variables here

/**
 * What point does .navbar-collapse hide.
 * Set to 0 to never collapse navbars.
 */
@grid-float-breakpoint: 0px;

// our own Files

// our developing styles; anything below this line should be moved to
// an appropriate File above.

/**
 * Can't figure out how to mark this up "correctly", so here's a CSS fix 
 * for the negative right margin Bootstrap applies to navbar-right elements
 * meant to display buttons.
 * 
 * See: http://stackoverflow.com/questions/20429229/bootstrap-3-navigation-bar-right-margin-is-not-supposed-to-be-15px
 */
@media (min-width: @grid-float-breakpoint) {
    .navbar-right > .navbar-btn:last-child {
        margin-right: @navbar-padding-horizontal;
    }
}

/**
 * Animate alerts by blinking them once
 */
.blink {
	.animation-name('blinker');
	.animation-duration(0.2s);
	.animation-timing-function('linear');
	.animation-iteration-count(2);
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@sidebar-border: 1px solid darken(@gray-lighter, 25%);
@breadcrumb-border: 1px solid darken(@gray-lighter, 5%);

/**
 * The admin sidebar is stacked nav pills made flush with their bounds.
 */
.col-sidebar {

    // Make flush with header
    margin: -@navbar-margin-bottom 0 0;

    // Remove relative positioning so the background stretches to window
    position: static;
    padding: 0;
    padding-right: 1px;

    // Make links flush with bounding box
    .nav-pills > li > a {
        border-radius: 0;
    }

    // The background
    &:before {
        content: '';
        background-color: @gray-lighter;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        border-right: @sidebar-border;

        // .col-xs-3
        width: percentage((3 / @grid-columns));

        // .col-md-2
        @media (min-width: @screen-md-min) {
            width: percentage((2 / @grid-columns));
        }
    }
}

/**
 * The admin breadcrumbs are regular breadcrumbs made flush with their bounds.
 */
.breadcrumbs-admin {
    // Make flush with header
    margin: -@navbar-margin-bottom -(@grid-gutter-width/2) 0;
    border-bottom: @sidebar-border;

    // Make crumb box flush with bounding box
    &.breadcrumb, .breadcrumb {
        border-radius: 0;
        margin-bottom: 0;
    }

    //
    margin-bottom: @line-height-computed;
}
